<div #game class="game" (click)="gameCLick()">
    <app-sound-player></app-sound-player>
    <div class="game-area">
        <div class="shadow top"></div>
        <div #road id="road" class="road">
            <div class="land">
                <div class="land-part">
                    <div class="traffic_light"></div>
                    <div class="pier"></div>    
                </div>
                <div class="frog-place" #frogHome id="frogHome"
                    [ngClass]="{'active':gameService.gameData.bets.length>0}">
                    <app-frog #frog id="frog"></app-frog>
                </div>
                <div class="land-part">
                    <div class="plant"></div>
                    <div class="pier"></div>
                </div>
            </div>
            <div class="lanes" *ngIf="gameService.gameData.config">
                <app-lane #lanes
                    *ngFor="let step of  gameService.gameData.config.steps[difficultyLevelId]; ; let idx = index" [betAmount]="betAmount"
                    [posId]="frogPosition" [id]="idx" [rate]="step" [difficultyLevelId]="difficultyLevelId" [allowJump]="idx == frogPosition +1 && gameService.gameData.state == gameState.closed" (posClick)="nextStep()"></app-lane>
            </div>
            <div class="pier"></div>
            <div class="land end">
                <div class="plant"></div>
                <div class="plant"></div>
                <div class="frog-place" id="frogNewHome" #frogNewHome>
                </div>
                <div class="plant"></div>
                <div class="plant"></div>
            </div>
            <div class="shadow bottom"></div>
        </div>
    </div>
    <div class="game-sidebar" *ngIf="gameService.gameData.config">
        <form [formGroup]="gameForm">
            <div class="tabs" [ngClass]="{disabled:gameService.gameData.state != gameState.opened || autoPlayStarted}">
                <div class="tab" [ngClass]="{'active':!autoMode}" (click)="autoMode = false" translate>Manual</div>
                <div class="tab" [ngClass]="{'active':autoMode}" (click)="autoMode = true" translate>Auto</div>
            </div>
            <label translate>Bet Amount <span style="float:right;">{{userData.currencySign}}{{betAmount | kAmount:
                    '9999/1.0-2'}}</span></label>
            <div class="bet-input-wrapper">
                <div class="bet-input"
                    [class.invalid]="gameForm.get('amount')?.touched && gameForm.get('amount')?.invalid">
                    <input type="number" [(ngModel)]="betAmount" formControlName="amount" id="amount">
                    <span class="suffix">{{userData.currencySign}}</span>
                </div>
                <div class="bet-actions">
                    <div class="b-btn" (click)="betHalf()">½</div>
                    <div class="b-btn" (click)="betDouble()">2×</div>
                </div>
            </div>
            <label translate>Difficulty</label>
            <div class="select-wrapper" [ngClass]="{'disabled':gameService.gameData.state != gameState.opened}">
                <select (change)="onDifficultyChange($event)">
                    <option [value]="0" translate>Easy</option>
                    <option [value]="1" translate>Medium</option>
                    <option [value]="2" translate>Hard</option>
                    <option [value]="3" translate>Extpert</option>
                </select>
                <div class="arrow-ico"></div>
            </div>
            <ng-container *ngIf="!autoMode else auto">
                <button class="btn btn-green" *ngIf="gameService.gameData.state == gameState.opened" (click)="bet()"
                    translate>Bet</button>
                <button class="btn btn-green"
                    *ngIf="gameService.gameData.state == gameState.closed || gameService.gameData.state == gameState.result"
                    (click)="cashout()" translate [ngClass]="{'disabled':frogPosition < 1}">Cashout</button>
                <button class="btn btn-grey"
                    [ngClass]="{'disabled':gameService.gameData.state != gameState.closed || isAnimating}"
                    (click)="nextStep()" translate>Go</button>
                <div class="profit">
                    <label>{{"Total profit ({amount}x)" | translate: {amount:getWinRate()| kAmount: '999/1.1-2'} }}<span
                            style="float:right;">${{getUsdTotalProfit() | kAmount:
                                '9999/1.0-2'}}</span></label>
                    <div class="profit-value">
                        {{getTotalProfit() | kAmount: '9999/1.0-2'}} <span
                            class="suffix">{{userData.currencySign}}</span>
                    </div>
                </div>
            </ng-container>
            <ng-template #auto>
                <label translate>Steps</label>
                <div class="select-wrapper">
                    <select (change)="onStepsChange($event)">
                        <option
                            *ngFor="let step of gameService.gameData.config.steps[difficultyLevelId]; let idx = index"
                            [value]="idx">{{idx+1}}</option>
                    </select>
                    <div class="arrow-ico"></div>
                </div>
                <label translate>Number of bets</label>
                <div class="count-input"
                    [class.invalid]="gameForm.get('count')?.touched && gameForm.get('count')?.invalid">
                    <input type="number" [(ngModel)]="autoGameCount" formControlName="count" id="count">
                </div>
                <button class="btn btn-green" *ngIf="!autoPlayStarted"
                    [ngClass]="{'disabled':gameForm.get('count')?.touched && gameForm.get('count')?.invalid}"
                    (click)="autoGameStart()" translate>Start autobet</button>
                <button class="btn btn-green" *ngIf="autoPlayStarted" (click)="autoGameStop()" translate>Stop
                    autobet</button>

            </ng-template>

        </form>
    </div>
    <app-result></app-result>
    <app-msg-box></app-msg-box>
</div>