.game {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.game-sidebar {
  background: #1A191D;
  border-radius: 4.4vw;
  border: 1px solid #2F2F2F;
  margin: 1vw;
  padding: 3vw;
}

.tabs {
  display: flex;
  border-radius: 14.4vw;
  height: 46px;
  overflow: hidden;
  background: #000;
  padding: 1vw;
  line-height: 46px;
  margin-bottom: 10px;
  &.disabled{
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.6;
  }
}

.tab {
  flex: 1;
  text-align: center;
  border-radius: 14.2vw;
  cursor: pointer;
  color: #F8F1D7;
}

.tab.active {
  background: #282A2F;
}

label {
  display: block;
  margin: 10px 0 5px;
  font-size: 14px;
  color: #707278;

  span {
   // color: #F8F1D7;
  }
}

.bet-input-wrapper {
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  overflow: hidden;
}

.bet-input {
  display: flex;
  align-items: center;
  border: 2px solid #474643;
  border-radius: 2.8vw;
  background: #000000;
  padding: 0;
  color: #fff;
}
.bet-input.invalid {
  border: 2px solid red;
}
.bet-input input {
  flex: 1;
  background: transparent;
  margin: 0 0.5vw;
  border: none;
  outline: none;
  font-size: 14px;
  padding: 12px;
  color: #fff;
  max-width: 90px;
}

.suffix {
  margin: auto 5px;
  font-size: 12px;
  width: 18px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  font-weight: bold;
  color: #0B5400;
  border-radius: 100%;
  background-color: #EAFF00;
}

.bet-actions {
  display: flex;
  width: 100%;
  background: #282A30;
  border-radius:  0.8vw;
  margin: 0 0 0 0.5vw;
}

.bet-actions .b-btn {
  flex: 1;
  border: none;
  background: #282A30;
  color: #fff;
  cursor: pointer;
  width: 100%;
  text-align: center;
  margin: 10px 0;
  font-size: 13px;
  line-height: 24px;
  border-right: 1px solid #1D1F24;

  &:last-child {
    border-right: none;
  }
}

.count-input {
  display: flex;

  input {
    width: 100%;
    padding: 12px;
    border-radius: 2.8vw;
    border: none;
    border: 2px solid #474643;
    background: #000;
    color: #fff;
    margin-bottom: 15px;
    appearance: none;
  }
}
.count-input.invalid  input{
  border: 2px solid red;
}
.select-wrapper {
  position: relative;

  select {
    width: 100%;
    padding: 14px;
    border-radius:  2.8vw;
    border: none;
    border: 2px solid #474643;
    background: #000;
    color: #fff;
    margin-bottom: 15px;
    appearance: none;
  }

  .arrow-ico {
    width: 20px;
    height: 20px;
    display: inline-flex;
    position: absolute;
    top: 37%;
    right: 3%;
    transform: translateY(-50%);
    pointer-events: none;
    cursor: pointer;
    filter: invert(1);
  }
}


.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius:  2.8vw;
  font-size: 16px;
  cursor: pointer;
}

.btn-green {
  background: #EAFF00;
  color: #014105;
  font-weight: bold;
  box-shadow: 0 0 0.8vw #EAFF00;
  margin-bottom: 10px;
  &.disabled{
    pointer-events: none;
    color: #273827;
    background: #b1b965;
    box-shadow: none;
    cursor: not-allowed;
  }
}

.btn-grey {
  background: #30333a71;
  color: #fff;
  box-shadow: 0 4px 4px #00000038;
  &.disabled {
    background: #30333a8a;
    color: #8EA2AC;
    cursor: not-allowed;
    pointer-events: none;
  }

}


.profit {
  margin-top: 10px;
  font-size: 14px;
  color: #fff;
}

.profit-value {
  display: flex;
  color: #fff;
  align-items: center;
  background: #000;
  border: 2px solid #282A2F;
  padding: 12px;
  border-radius:  2.8vw;
  margin-top: 5px;
  position: relative;

  .suffix {
    position: absolute;
    right: 0.5vw;
  }
}

.game-area {
  display: flex;
  width: 100%;
  overflow: hidden;
  aspect-ratio: 16 / 9;
}

.shadow {
  height: 10vw;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;

  &.top {
    top: 0;
   // background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  }

  &.bottom {
    bottom: -10%;
   // background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  }
}

.road {
  flex: 1;
  width: 100%;
  background: #000;
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
}

.road::-webkit-scrollbar {
  display: none;
}

app-frog {
  position: relative;
  top: -1vw;
  left: 0.5vw;
}
.land-part{
  display: flex;
  height: 115%;
}
.land {
  min-width: 18vw;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 115%;
  .traffic_light {
    position: relative;
    width: 10vw;
    height: 30vw;
    background: url('../../../assets/img/traffic_light.svg');
    background-size: contain;
    background-repeat: no-repeat;
    top: 8vw;
  }

  .frog-place {
    height: 27vw;
    width: 12vw;
    margin: 1vw 0;
    background: url('../../../assets/img/road.svg');
    background-size: 3vw 6vw;
    app-frog {
      visibility: hidden;
    }
    &.active {
      app-frog {
        visibility: visible;
      }
    }
  }

  .plant {
    position: relative;
    width: 11vw;
    height: 11vw;
    background: url('../../../assets/img/plant.svg');
    background-size: contain;
    background-repeat: no-repeat;
    top: 7vw;
  }

  &.end {
    .frog-place {
      app-frog {
        visibility: visible;
        display: block;
      }
    }
  }
}

.pier {
  min-width: 3vw;
  height: 100%;
  background: url('../../../assets/img/rock.svg');
  background-size: contain;
  margin: 0 0 0 0.8vw;
}

.lanes {
  width: fit-content;
  display: flex;
  flex-direction: row;
  height: 115%;

}